.MainThree{
    background-color:whitesmoke;
    text-align: center;
    background-size: 1356px 655px;
    height:650px;
}
.LogoDivThree{
    padding-top: 100px;
    margin-bottom: -30px;
}
.LogoThree{
    height:300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 2px 15px #5E635C);
}
.Search{
    width: 700px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 5px #5E635C);
}
.Search:focus{
    outline: none;
}
.HomeOption{
    height: 40px;
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -60px;
    text-shadow: 1px 1px #ff0000;
}